*{
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
  color: white;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
.memeform{
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
}
.memeform input{
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 20px;
  border: rgba(100, 100, 40, 0.4) 2px solid;
  border-radius: 5px;
  width: 50%;
}
.form{
  display: flex;
  flex-flow: column wrap;
}
.submitmeme{
  align-self: center;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to right,#672280, #A626D3);
  border-radius: 15px;
  width: 50%;
  cursor: pointer;
}